<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="testing"/>
<stringAttribute key="device_id" value="A7B41607-C030-4725-8468-ED3DE239CF1E"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/testing"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.3"/>
<stringAttribute key="simulator_debug_config" value="192.168.1.6:56048"/>
<stringAttribute key="simulator_version" value="8.3"/>
</launchConfiguration>
